<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="info" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{20} - %msg%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.jeedsoft" level="trace"/>
		<Logger name="test.jeedsoft" level="trace"/>
		<Root level="warn">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>

</Configuration>
