<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
		</Console>
		<RollingFile name="JocketFile" fileName="D:/log/jocket.log" filePattern="D:/log/%d{yyyy-MM-dd}/jocket%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="DebugFile" fileName="D:/log/debug.log" filePattern="D:/log/%d{yyyy-MM-dd}/debug-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="InfoFile" fileName="D:/log/info.log" filePattern="D:/log/%d{yyyy-MM-dd}/info-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="WarnFile" fileName="D:/log/warn.log" filePattern="D:/log/%d{yyyy-MM-dd}/warn-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
		<RollingFile name="ErrorFile" fileName="D:/log/error.log" filePattern="D:/log/%d{yyyy-MM-dd}/error-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS} %-4p] [%t] %c - %m%n"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>           
			<Policies>              
				<TimeBasedTriggeringPolicy/>
	            <SizeBasedTriggeringPolicy size="200MB"/>
			</Policies>
			<DefaultRolloverStrategy max="50"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.jeedsoft.jocket" level="trace">
			<AppenderRef ref="JocketFile"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="DebugFile"/>
			<AppenderRef ref="InfoFile"/>
			<AppenderRef ref="WarnFile"/>
			<AppenderRef ref="ErrorFile"/>
		</Root>
	</Loggers>

</Configuration>
